.notes_page {
  padding: 70px;
}
.notes {
  max-width: 1200px;
}
.reload_btn {
  border-radius: 50%;
}
.notes_list {
  padding-top: 30px;
  margin-bottom: 30px;
}
.note {
  display: flex;
  margin-bottom: 8px;
}
.note__content {
  margin-right: 16px;
}
.note__delete {
  border-radius: 50%;
  color: red;
}
.note_form {
  position: relative;
  display: flex;
}
.note_form__label {
  position: absolute;
  top: -22px;
}
